body {
    background-color: $background;
}

#navbar {
    background-color: $background-nav;
}

.cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
}

.background-2 {
    background-color: $color2;
}
