////////////////////////////////////
/// Colores
////////////////////////////////////

////////////////////////////////////
/// Modificaciones Variables Bootstrap
////////////////////////////////////
$primary: #a5a6f6;
$border-color: #7e7e7e;
$dropdown-border-color: #7e7e7e;
$dropdown-bg: lighten(#e8e8e8, 5%);

//IMPORT BOOSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss";

////////////////////////////////////
/// Modificaciones Clases
////////////////////////////////////
body {
  background-color: #efefef;
  height: 200vh;
}
#navbar {
  background-color: #e8e8e8;
  transition: all 0.3s;
}
